@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --background-rgb: 255, 255, 255;
  --primary-color: #00d1b2;
  --secondary-color: #95efe1;
}

body, main {
  color: rgb(var(--background-rgb));
  background: radial-gradient(circle at top right, #00d1b2, #95efe1 15%, #00d1b2 30%, #95efe1 75%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

textarea {
  resize: none !important;
  outline: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.btn {
  @apply transition-transform duration-200;
}
.btn:hover {
  @apply transform scale-105;
}
.btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
}
